In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize

In [4]:
data = pd.read_json('reviewSelected100.json',lines=True, 
                    orient='records',encoding = "ISO-8859-1")

In [5]:
display(data)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,8aoJJdKEO3ypoZNszpPu7Q,bGgAL09pxLnV_FFgR4ZADg,ZBE-H_aUlicix_9vUGQPIQ,5,0,0,0,We had my Mother's Birthday Party here on 10/2...,2016-11-09 20:07:25
1,J5NOCLdhuhor7USRhtYZ8w,pFCb-1j6oI3TDjr26h2cJQ,e-YnECeZNt8ngm0tu4X9mQ,4,0,0,0,Good Korean grill near Eaton Centre. The marin...,2015-12-05 05:06:43
2,PXiLWAYRt3xnHaJ8MB4rzw,mEzc6LeTNiQgIVsq3poMbg,j7HO1YeMQGYo3KibMXZ5vg,5,2,1,3,Was recommended to try this place by few peopl...,2014-10-11 05:16:15
3,VrLarvxZYJm74yAqtpe9PQ,o-zUN2WEZgjQS7jnNsec0g,7e3PZzUpG5FYOTGt3O3ePA,3,0,0,0,Ambience: Would not expect something this nice...,2016-07-25 03:45:26
4,C1CUpidlVFprUCkApqzCmA,Wlx0iBXJvk4x0EeOt2Bz1Q,vuHzLZ7nAeT-EiecOkS5Og,1,11,0,3,Absolutely the WORST pool company that I have ...,2016-04-11 18:49:11
...,...,...,...,...,...,...,...,...,...
15295,qknwFVEh_0KSuexigYBI_A,YMGmyPOU65SMs4H60ltYiw,shIPnFoXrL3dFo5HLH1_HA,1,2,0,0,This was the worst experience ever. So much so...,2014-07-12 21:58:15
15296,Y-ZRoyAXCukBK1uK1ZcZCA,JLhOWQiWtGbr14K_KmoWxA,zPEYgVqJ2QNKi45FJi2jvg,5,0,0,0,We come here every time we hit Vegas! A giant ...,2018-11-10 21:38:49
15297,A8HdjBfhj3pgQuSbwNtDEw,6CoiKFDFXIACJZvv_I_8mQ,zPEYgVqJ2QNKi45FJi2jvg,1,0,1,0,As locals we used to the this place when it w...,2018-10-13 22:11:22
15298,2n1QdrYBRAAe6GKaxEV0jA,_fH4s3ls08eSl_PfX38KIA,etzDsNjkCyQBoJcU2a3U-g,5,0,0,0,The food was delicious. We were seated in 15 m...,2015-02-15 08:43:46
15299,4B9k5hmmLWV_lhIYvVcPWA,msRUiBE7Sa5A9145ZdFBow,9Xm2GfG8Rnbb1_CmXyrm3g,5,0,0,0,Wonderful spot (the patio) and OH SO EXCELLENT...,2018-10-06 19:00:13

In [6]:
uniqueBusiness = data['business_id'].unique()
data_one = data[data['stars'] == 1]
one_star = []

data_one = data_one['text'].groupby(data_one['business_id']).unique().apply(pd.Series)

i=0
while i!=50:
  if data_one[0][i] is not None:
    one_star.append(data_one[0][i])
    i += 1

In [7]:
import spacy
nlp = spacy.load('en')
noun_adj_pairs = []

for n in one_star:
  doc = nlp(n)
  for i,token in enumerate(doc):
      if token.pos_ not in ('NOUN','PROPN'):
          continue
      for j in range(i+1,len(doc)):
          if doc[j].pos_ == 'ADJ':
              noun_adj_pairs.append((str(token),str(doc[j])))
              break
noun_adj_pairs

ModuleNotFoundError: No module named 'spacy'

In [ ]:
import collections

counter=collections.Counter(noun_adj_pairs)
print(counter.most_common(10))